body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.user-cart {
  display: block;
  width: 400px;
  height: 400px;
  border: 1px solid brown;
  padding: 10px;
}
